<html>
<head>
    <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-L/tgI3wSsbb3f/nW9V6Yqlaw3Gj7mpE56LWrhew/c8MIhAYWZ/FNirA64AVkB5pI" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css" charset="utf-8">
    <script type="text/javascript" src="/scripts.js"></script>
    <title>University Registrar</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">University Registrar</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <ul class="nav navbar-nav">
                <li><a href="/courses">Courses</a></li>
                <li><a href="/students">Students</a></li>
              </ul>
              <form class="navbar-form navbar-right" action="/search" method="GET">
                <div class="form-group">
                  <input type="text" name="search_term" class="form-control" placeholder="Search Students">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </nav>

        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Course Name</th>
              <th>Course Number</th>
              <th>Students Enrolled</th>
            </tr>
          </thead>
          <tbody>
              {% set count = 0 %}
              {% if courses is not empty %}
              {% for course in courses %}
              {% set count = count + 1%}
              <tr>
                  <td>{{count}}</td>
                  <td><a href="/courses/{{course.getId}}">{{course.getCourseName}}</a></td>
                  <td>{{course.getCourseNumber}}</td>
                  <td>{{course.getStudents|length}}</td>
                  <td>
                      <form class="form-group tbl-del" action="/delete-course/{{course.getId}}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn btn-xs btn-danger" name="button">Remove</button>
                      </form>
                  </td>
              </tr>
              {% endfor %}
              {%endif%}
          </tbody>
        </table>

        <form class="form-horizontal well" action="/add_course" method="post">
          <fieldset>
            <legend>Add Course</legend>
            <div class="form-group">
              <label for="inputCourseName" class="col-lg-2 control-label">Course Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" name="inputCourseName" placeholder="Course Name">
              </div>
            </div>
            <div class="form-group">
              <label for="inputCourseNumber" class="col-lg-2 control-label">Course Number</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" name="inputCourseNumber" placeholder="Course Number">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
        <footer>Created By <a href="https://github.com/mkelley2">Matt Kelley</a> &amp; <a href="https://github.com/dmqpdx">David Quisenberry</a> 2017 </footer>
    </div>

</body>
</html>
