<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}

            <table class="table table-striped table-hover ">
                  <thead>
                    <tr>
                      <th class="title">{{patron.getLastName}}, {{patron.getFirstName}}</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Due Date</th>
                        <th>Date Checked Out</th>
                    </tr>
                  </thead>
                  <tbody>
                          {% if found_books is not empty %}
                          {% set count = 0 %}
                          {% for book in found_books %}
                          {% set count = count + 1 %}
                          <tr>
                          <td>{{ count }}</td>
                          <td>{{ book.getTitle }}</td>

                          <td>
                              <form class="form-group tbl-del" action="/checkout-book/{{book.getId}}" method="post">
                                  <input type="hidden" name="_method" value="delete">
                                  <button type="submit" class="btn btn-xs btn-danger" name="button">Remove</button>
                              </form>
                          </td>
                      </tr>
                          {% endfor %}
                          {% endif %}
                  </tbody>
                </table>

                <form class="form-horizontal well" action="/patrons/{{patron.getId}}" method="post">
                  <fieldset>
                    <legend>Add Book</legend>
                    <div class="form-group">
                      <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                      <div class="col-lg-10">
                          <select class="form-control" id="select"name="bookDrop" >
                              {% if all_books is not empty %}
                                  {% for book in all_books %}
                                  <option name="bookDrop" value='{{book.getId}}'>{{book.getTitle}}</option>
                                  {% endfor %}
                              {% endif %}
                          </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </fieldset>
                </form>



            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
